{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div>
    <h4>Formulario Solicitudes</h4>
    <form method="post" action="{% url 'pruebas' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Fecha: {{ formSolicitud.fecha }}</td>
                <td>Hora: {{ formSolicitud.hora }}</td>
            </tr>
            <tr>
                <td>Solicitante: {{ formSolicitud.fkRutSolicitante }}</td>
                <td>Asistente Social: {{ formSolicitud.fkRutAsistenteSocial }}</td>
            </tr>
            <tr>
                <td>Nombre del Caso: {{ formSolicitud.nombreCasoSolicitud }}</td>
            </tr>
            <tr>
                <td>Beneficio: {{ formSolicitud.beneficio }}</td>
                <td>N° Beneficios: {{ formSolicitud.cantidadBeneficios }}</td>
            <tr>
                <td>descripcionBeneficio: {{ formSolicitud.descripcionBeneficio }}</td>
                <td>nombreCalle: {{ formSolicitud.nombreCalle }}</td>
            </tr>
            <tr>
                <td>numeroCalle: {{ formSolicitud.numeroCalle }}</td>
                <td>nombreAvenida: {{ formSolicitud.nombreAvenida }}</td>
            <tr>
            <tr>
                <td>nombreComuna: {{ formSolicitud.nombreComuna }}</td>
                <td>nombreRegion: {{ formSolicitud.nombreRegion }}</td>
            <tr>
            <tr>
                <td>casa: {{ formSolicitud.casa }}</td>
                <td>poblacion_villa_condominio: {{ formSolicitud.poblacion_villa_condominio }}</td>
            <tr>
            <tr>
                <td>unidadVecinal: {{ formSolicitud.unidadVecinal }}</td>
                <td>depto: {{ formSolicitud.depto }}</td>
            <tr>
            <tr>
                <td>block_edificio: {{ formSolicitud.block_edificio }}</td>
            <tr>
            <td>
                <button name="guardarSolicitud">Guardar Solicitud</button>
            </td>
            </tr>
        </table>
    </form>
    <h6>Solicitudes</h6>
    <p>
        {% for solicitud in dataSolicitud %}
            {{ solicitud.numeroSolicitud }}--{{ solicitud.nombreCasoSolicitud }}--{{ solicitud.beneficio }}--{{ solicitud.descripcionBeneficio }}--{{ solicitud.cantidadBeneficios }}--{{ solicitud.hora }}--{{ solicitud.fecha }}--{{ solicitud.nombreCalle }}--{{ solicitud.numeroCalle }}--{{ solicitud.nombreAvenida }}--{{ solicitud.nombreComuna }}--{{ solicitud.nombreRegion }}--{{ solicitud.casa }}--{{ solicitud.poblacion_villa_condominio }}--{{ solicitud.unidadVecinal }}--{{ solicitud.depto }}--{{ solicitud.block_edificio }}--{{ solicitud.fkRutAsistenteSocial }}--{{ solicitud.fkRutSolicitante }}
        {% endfor %}
    </p>

    <h3>Formulario Asistente Social</h3>
    <table>
        <form method="post" action="{% url 'pruebas' %}">
            {% csrf_token %}
            <tr><td>Rut: {{ formAsistenteSocial.rutAsistenteSocial }}</td></tr>
            <tr>
                <td>Nombres: {{ formAsistenteSocial.nombres }}</td>
                <td>Apellidos: {{ formAsistenteSocial.apellidos }}</td>
            </tr>
            <tr>
                <td>Telefono: {{ formAsistenteSocial.telefono }}</td>
                <td>Edad: {{ formAsistenteSocial.edad }}</td>
            </tr>
            <tr>
                <td>Correo: {{ formAsistenteSocial.correo }}</td>
                <td>fkDireccion: {{ formAsistenteSocial.fkDireccion }}</td>
            </tr>
            <tr><td><button name="guardarAsistenteSocial">Guardar Asistente Social</button></td></tr>
        </form>
    </table>
    <h6>Asistente Social</h6>
    <p>
        {% for asistenteSocial in dataAsistenteSocial %}
            {{ asistenteSocial.rutAsistenteSocial }}--{{ asistenteSocial.nombres }}--{{ asistenteSocial.apellidos }}--{{ asistenteSocial.telefono }}--{{ asistenteSocial.edad }}--{{ asistenteSocial.correo }}--{{ asistenteSocial.fkDireccion }},
        {% endfor %}
    </p>

    <h3>Formulario Solicitante</h3>
    <table>
        <form method="post" action="{% url 'pruebas' %}">
            {% csrf_token %}
            <tr>
                <td>Rut: {{ formSolicitante.rutSolicitante }}</td>
                <td>Primer Nombre: {{ formSolicitante.primerNombre }}</td>
                <td>Segundo Nombre:{{ formSolicitante.segundoNombre }}</td>
            </tr>
            <tr>
                <td>Primer Apellido: {{ formSolicitante.primerApellido }}</td>
                <td>Segundo Apellido: {{ formSolicitante.segundoApellido }}</td>
            </tr>
            <tr>
                <td>Telefono: {{ formSolicitante.telefono }}</td>
                <td>Edad: {{ formSolicitante.edad }}</td>
            </tr>
            <tr>
                <td>Correo: {{ formSolicitante.correo }}</td>
                <td>Grupo Familiar: {{ formSolicitante.grupoFamiliar }}</td>
            </tr>
            <tr>
                <td>fkDireccion: {{ formSolicitante.fkDireccion }}</td>
                <td>fkDetalleDireccion: {{ formSolicitante.fkDetalleDireccion }}</td>
            </tr>
            <tr><td><button name="guardarSolicitante">Guardar Solicitante</button></td></tr>
        </form>
    </table>
    <h6>Solicitante</h6>
    <p>
        {% for solicitante in dataSolcitante %}
            {{ solicitante.rutSolicitante }}--{{ solicitante.primerNombre }}--{{ solicitante.segundoNombre }}--{{ solicitante.primerApellido }}--{{ solicitante.segundoApellido }}--{{ solicitante.telefono }}--{{ solicitante.edad }}--{{ solicitante.correo }}--{{ solicitante.grupoFamiliar }}--{{ solicitante.fkDireccion }}--{{ solicitante.fkDetalleDireccion }},
        {% endfor %}
    </p>

    <a href="{% url 'index' %}">Volver</a>
</div>
{% endblock %}