{% extends 'components/base.html' %}
{% load static %}
{% block content %}
{% include 'components/navbar.html' %}
<div class="margin-default">
    <div class="container">
        <div class="row align-items-start grid row-gap-3">
            <div class="col-auto"></div>
            <div class="col p-2 g-col-6">
                <div class="card">
                    <h6 class="text-info-emphasis bg-info-subtle card-header">Consulta de Solicitudes por Solicitante</h6>
                    <div class="card-body text-center">
                        <h4 class="fw-bold card-title">¿Usuario Solicitante se Encuentra Registrado?</h4>
                        <p class="card-text fw-light">Esta opcion permite consultar si el usuario se encuentra registrado en el sistema.</p>
                        <div class="container-fluid">
                            <form class="d-flex margin-default" method="get">
                                <div class="container">
                                    <div class="row align-items-start grid row-gap-3">
                                        <div class="col">
                                            <input class="form-control me-2" type="text" placeholder="Ingresa un RUN" name="buscarSolicitante" value="{{ request.GET.buscarSolicitante }}">
                                        </div>
                                        <div class="col-2 d-grid gap-2">
                                            <button class="text-white fw-semibold btn btn-info" type="submit">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="container">
                                <div class="row align-items-start grid row-gap-3">
                                {% for solicitante in dataSolicitante %}
                                        <div class="col-6">
                                            <div class="card border-info mb-3">
                                                <div class="card-body grid row-gap-0">
                                                    <h5 class="card-title">
                                                        {{ solicitante.rutSolicitante }}
                                                    </h5>
                                                    <p class="card-text fw-light">
                                                        {{ solicitante.primerNombre }} {{ solicitante.segundoNombre }} {{ solicitante.primerApellido }} {{ solicitante.segundoApellido }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="p-2 g-col-6 col-sm-6 mb-3 mb-sm-0">
                        <div class="card index-default-card">
                            <h6 class="text-primary-emphasis bg-primary-subtle card-header">Ingreso de Usuario Solicitante</h6>
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row align-items-start">
                                        <div class="col-auto"></div>
                                        <div class="col">
                                            <img class="rounded-circle index-card-image" src="{% static 'img/agregar_solicitante.png' %}" alt="ingresar_solicitante_image">
                                            <h5 class="fw-bold card-title">Agregar Solictante</h5>
                                            <p class="card-text fw-light">Incorporar a una nueva persona como parte del grupo familiar registrado o actualizar los datos del hogar.</p>
                                            <div class="container">
                                                <div class="row align-items-start grid row-gap-3">
                                                    <div class="col-auto"></div>
                                                    <div class="col">
                                                        <div class="d-grid gap-2">
                                                            <a href="{% url 'ingresar_solicitante' %}" class="fw-semibold btn btn-primary">Registrar Solicitante</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-2 g-col-6 col-sm-6 mb-3 mb-sm-0">
                        <div class="card index-default-card">
                            <h6 class="text-primary-emphasis bg-primary-subtle card-header">Ingreso de Solicitudes</h6>
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row align-items-start">
                                        <div class="col-auto"></div>
                                        <div class="col">
                                            <img class="rounded-circle index-card-image" src="{% static 'img/ingresar_solicitud.png' %}" alt="ingresar_solicitud_image">
                                            <h5 class="fw-bold card-title">Ingresar Solicitud</h5>
                                            <p class="card-text fw-light">Iniciar nuevo trámite o solicitud para actualizar información sobre la composición del hogar y acceder a beneficios sociales.</p>
                                            <div class="container">
                                                <div class="row align-items-start grid row-gap-3">
                                                    <div class="col-auto"></div>
                                                    <div class="col">
                                                        <div class="d-grid gap-2">
                                                            <a href="{% url 'ingresar_solicitud' %}" class="fw-semibold btn btn-primary">Generar Solicitud</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-auto"></div>
        </div>
    </div>
</div>
{% endblock %}